.subscribingfont-size{
    font-size: 9px;
     text-align: center;
      margin-top: 7px;
}
.terms-and-condition{
    margin-bottom: 4em;
}
.underlinetext-decoration{
    text-decoration: underline;
}
